@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    display: flex;
    min-height: 100vh;
  }

  h1,
  h2 {
    font-family: Didot, "Bodoni MT", serif;
  }

  :root {
    --color-bg: #EBEBEB;
    --color-footer: #A7A7A7;
    --color-primary: #335d92;
    --color-accent-1: #419EBD;
    --color-accent-2: #54a1bb;
    --color-disabled: #83ACB9;
    --color-border-1: #B4B4B4;

    --font-size-h1: 4rem;
    --font-size-h2: 64px;
    --font-size-h3: 40px;
    --font-size-h4: 32px;
    --font-size-body-lg: 16px;
    --font-size-body-sm: 14px;
    --font-size-body-xs: 12px;

    --line-height-h1: 1.1;
    --line-height-h2: 1.1;
    --line-height-h3: 1.1;
    --line-height-h4: 1.1;
    --line-height-body-lg: 1.35;
    --line-height-body-sm: 1.2;

    --font-weight-light: 100;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
}

/* MetaProvider renders a wrapper div — target it */
body>div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
  text-align: center;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  main {
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.1;
}

h2 {
  font-size: 45px;
  font-weight: 100;
  line-height: 1.1;
}

p {
  max-width: 14rem;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

.always-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.always-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.always-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* slate-300 */
  border-radius: 999px;
}

@layer components {
  .btn {
    @apply py-2 px-6 bg-[var(--color-accent-1)] rounded-[10px] cursor-pointer transition-colors duration-200 text-white;
  }

  .btn:hover {
    @apply bg-[var(--color-accent-2)];
  }

  .btn:disabled {
    @apply bg-[var(--color-disabled)] text-[var(--color-footer)];
  }

  .btn:disabled:hover {
    @apply cursor-not-allowed;
  }

  .btn-outline {
    @apply py-2 px-6 rounded-[10px] border border-[var(--color-border-1)];
  }

  .btn-outline.active {
    @apply border-[var(--color-accent-1)];
  }

  .btn-outline:hover {
    @apply border-[var(--color-accent-1)] cursor-pointer;
  }

  .nav {
    @apply hidden md:flex gap-4 items-center rounded-[20px] bg-[var(--color-bg-2)] py-[20px] px-[30px]
  }

  .title {
    @apply font-bold text-2xl;
  }

  .subheader-1 {
    @apply font-bold text-base;
  }

  .body-1 {
    @apply font-normal text-base;
  }

  .body-2 {
    @apply font-normal text-sm;
  }

  .body-3 {
    @apply font-normal text-xs;
  }

  .spinner {
    @apply w-8 h-8 border-4 border-[var(--color-footer)]/30 border-t-[var(--color-accent-1)] rounded-full animate-spin
  }
}